.Header {
  background: black;
  background-image: url('../assets/avatar-white.png');
  background-size: 335px;
  background-repeat: no-repeat;
  background-position: top center;
  height: 200px;
  position: relative;

  img #logo {
    justify-self: center;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: darkgoldenrod;
    height: 40px;
    width: 100vw;
    position: absolute;
    bottom: 0;
    margin-top: 40px;
  }

  a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .25em;
  }
}